section.footer
  .container
    .row
      .col.col--2-of-15.col--push-1-of-15
        .contacto
          p Contacto,
      .col.col--3-of-15.col--push-1-of-15
        .tel-mail
          p +52 (812) 138 7023
          a(href="mailto:hola@buhoms.com") hola@buhoms.com
      .col.col--5-of-15
        .direccion
          p Vasconcelos 215 Oriente, Residencial San Agustín San Pedro Garza García, N.L. 66260
      .col.col--1-of-15.col--push-1-of-15
        .links
          a(href="https://www.facebook.com/BuhoMediaShop/") Facebook </br>
          a(href="") Instagram
