.contenedor
  .menu-ex
    .img
      a(href="index.html")
        img(src="assets/img/logo.svg" alt="Logo Buho")
    .ham
      .line
      .line
      .line
    .links
      nav
        ul
          li
            a(href="about.html") Sobre Búho
          li
            a(href="medios-impresos.html") Medios Impresos
          li
            a(href="digital.html") Digital
          li
            a(href="proyectos-especiales.html") Proyectos Especiales
          li
            a(href="catalogo.html") Descargas
          li
            a(href="contacto.html") Contacto
