.contenedor
  .menu-ex
    .img
      img(src="assets/img/logo.svg" alt="Logo Buho")
    .ham
      .line
      .line
      .line
    .links
      nav
        ul
          li
            a(href="") Sobre Búho
          li
            a(href="") Medios Impresos
          li
            a(href="") Digital
          li
            a(href="") Proyectos Especiales
          li
            a(href="") Descargas
          li
            a(href="") Contacto
