doctype html
html
  head
    title Búho
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="favicon.png")
    link(rel="stylesheet" href="assets/css/main.css")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Monumento")
    meta(property="og:description" content="Monumento")
    meta(property="og:image" content="assets/img/facebook.jpg")
  body
    section.medios(style="background-image: url(assets/img/bg-medios.png);")
      include _menu.pug
    section.medios-lead
      .container
        .row
          .col.col--12-of-15.col--push-1-of-15
            .lead
              h2 Desde <span>Impresión Digital</span>, hasta <span>Soluciones POP y POS</span>, en Búho manejamos tus cuestiones de impresión y mercadotecnia desde su concepción, hasta la implementación.
        .row
          .col.col--9-of-15.col--push-1-of-15
            .lead2
              h2 Medios Impresos
            .text
              p Integrando a nuestros servicios la especialización en materiales impresos, contamos con las capacidad de producir, adaptar y entregar en <span>Multiplataformas y Multicanales</span> soluciones de comunicación.
          .col.col--7-of-15.col--push-7-of-15
            .right
              span 01,
              p Somos capaces de apoyar en todos los aspectos de diseño, producción y entrega. Nuestro objetivo es establecer una estrecha colaboración con los clientes para aumentar la visibilidad y rendimiento de los materiales.
    section.soluciones
      .container
        .row
          .col.col--5-of-15.col--push-1-of-15
            .img
              img(src="assets/img/carro.jpg" alt="carro de super")
          .col.col--7-of-15.col--push-1-of-15
            .text
              span 02,
              h3 Soluciones POP, POS
              p Nuestro trabajo día a día incluye una amplia gama de Soluciones POP/POS ofreciendo también elementos complementarios de material de visualización de marketing impresos en formatos tradicionales, digitales y de gran formato ademas de diseño estructural.
              .btn
                a(href="") Conoce nuestros Proyectos Especiales

    include _footer.pug

    script(src="assets/js/jquery-2.1.4.min.js" type="text/javascript")
    script(src="assets/js/functions.js" type="text/javascript")
